/* Custom CSS
-------------------------*/
div.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl div.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
body{
    padding-top: 0px;
    max-width: 1020px!important;
    width: 100%;
    margin: 0 auto;
    font-family: 'pf_beausans_proregular';
}

#fb-menu .navbar{
    margin-bottom: 0px;
}
